---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title='Porfolio de Fabián Hoyos - Desarrollador y Programador Web'
  description='Me gustaria trabajar contigo desarrollado tus ideas de negocio. Cuentame en que te puedo ayudar'
>
  <main></main>
</Layout>
