---
import Promp from '../icons/Promp.astro'
---

<header
  class='flex justify-between items-center py-3 w-full xl:w-[1120px] mx-auto'
>
  <div class='text-xl flex'>
    <span class='pr-2'><Promp class='w-7 h-7 text-yellow-200' /></span>
    <h1>
      <span class='font-bold'>Fabian</span>
      <span class='font-light opacity-80'>Hoyos</span>
    </h1>
  </div>
  <nav class='flex flex-row gap-x-10 opacity-80'>
    <a href='#top'>Inicio</a>
    <a href='#experiencia'>Expereiencia</a>
    <a href='#proyectos'>Proyectos</a>
    <a href='#sobre-mi'>Sobre mí</a>
    <a href='#contacto'>Constacto</a>
  </nav>
</header>
