---
// Supports weights 100-800
import '@fontsource-variable/jetbrains-mono'
import Header from '../sections/Header.astro'
import Hero from '../sections/Hero.astro'

interface Props {
  title: string
  description: string
}

const { description, title } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <Hero />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: 'JetBrains Mono Variable', monospace;
  }
  body {
    background: #2d2e32;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
